* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: #fff;
}

#time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 3rem;
	max-width: 400px;
}

#name {
	width: 320px;
}

h2 {
    margin-bottom: 5px;
}

#focus {
	width: 320px;
}

.backgroundBtn {
	font-family: 'Quicksand', sans-serif;
	padding: 0.3rem 5rem;
	border: none;
	border-radius: 3px;

	
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
	transition: .3s;
	outline: none;
	
	background-color: #000;
	color: #fff;
}

.backgroundBtn:hover {
  	position: relative;
  	top: 1px;
  	opacity: 0.8;
}

@media(max-width: 320px) {
    #time {
        font-size: 5rem;
    }
	h1 {
		max-width: 320px;
	}
}
